<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755349872012-h2nnsblfug7ugb494a0s8qn8fu6icu69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755349872012-h2nnsblfug7ugb494a0s8qn8fu6icu69</string>
	<key>API_KEY</key>
	<string>AIzaSyA8z90kFO3Qpib-ZHZGlbsctKajiq0qadk</string>
	<key>GCM_SENDER_ID</key>
	<string>755349872012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bostrap.hustChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-hust</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-hust.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755349872012:ios:4d9c4d108749b479b78aa9</string>
</dict>
</plist>